{
  dynamic_dns {
    provider cloudflare {env.CLOUDFLARE_API_TOKEN}
    versions ipv4
    domains {
        relaymate.com *
        burakcan.me @ www
    }
  }
}

(proxy) {
    header Strict-Transport-Security max-age=31536000
    reverse_proxy {args[0]}:{args[1]}

    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
}

(fuckoff) {
    @is_external {
        not remote_ip 127.0.0.1/32 192.168.8.0/24 0.0.0.0/32
    }

    redir @is_external https://www.youtube.com/watch?v=dQw4w9WgXcQ 302
}

https://{env.IMMICH_DOMAIN}:443 {
    import proxy localhost 2283
}

https://{env.PLEX_DOMAIN}:443 {
    import proxy localhost 32400
}

https://{env.QBITTORRENT_DOMAIN}:443 {
    import fuckoff
    import proxy localhost 9091
}

https://{env.SONARR_DOMAIN}:443 {
    import fuckoff
    import proxy localhost 8989
}

https://{env.HOMEASSISTANT_DOMAIN}:443 {
    import proxy localhost 8123
}

https://{env.N3P_DOMAIN}:443 {
    import proxy 192.168.8.123 80
}

https://{env.HOARDER_DOMAIN}:443 {
    import proxy localhost 3002
}

https://burakcan.me:443 {
    import proxy localhost 8081
}

https://www.burakcan.me:443 {
    import proxy localhost 8081
}